server:
  port: 8090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_registration
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-22461297.okta.com/oauth2/default
